:root {
  --primary-color: #333;
  --secondary-color: #f4f4f4;
  --accent-color: #ff6600;
  --text-color: #333;
  --text-light: #fff;
  --whatsapp-color: #25d366;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: var(--text-color);
  overflow-x: hidden;
  font-family: "Montserrat", Arial, sans-serif;
}

/* Header Styles */
.header {
  background-color: var(--primary-color);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  /* transition: background-color 0.3s ease; */
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  color: var(--text-light);
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav-link:hover {
  color: #ff6600;
}

.flag-img {
  width: 100px;
  height: auto;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: var(--text-light);
  margin: 5px;
  transition: all 0.3s ease;
}
